<section class="middle-section">
  <div class="main-container">
    <div class="accordion-row">
      <div class="accordion">
        <div class="accordion-head">
          <h4>
            Help
          </h4>
        </div>
        <div class="accordion-body panel">
          <div class="accordion-desc">
            <i class="fa fa-life-ring fa-3x"></i>
            <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit turpis nisl, et molestie orci imperdiet id. Vivamus pellentesque lorem eget lectus scelerisque convallis. Etiam malesuada, ex vel dignissim aliquam, tortor nunc condimentum neque, et semper risus lectus sit amet tellus. Sed quis congue metus. Curabitur placerat quam vitae ligula mattis, eu viverra nisi posuere. Etiam sed ligula non ex suscipit eget lectus scelerisque convallis. Etiam malesuada, ex vel dignissim aliquam, tortor nunc condimentum neque, et semper risus lectus sit amet tellus.
            Etiam malesuada, ex vel dignissim aliquam, tortor nunc condimentum neque, et semper risus lectus sit amet tellus.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
