<section class="bikers-section">
  <div class="main-container">
    <div class="bikers-row">
      <h1>Bikers</h1>
      <div class="bikers-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Full name </th>
              <th>E-mail</th>
              <th>City</th>
              <th>Ride in group</th>
              <th>Days of the week</th>
              <th>Registration day</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>James Isaac Neutron</td>
              <td>neutron@example.com</td>
              <td>City</td>
              <td>Always</td>
              <td>Every day</td>
              <td>13/08/2018 <span>11:29 AM</span></td>
              <td>
                <i class="fa fa-trash-o"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--bikers-table end -->
    </div>
    <!--bikers-row end -->
  </div>
</section>