<header class="header-section">
  <div class="main-container">
    <div class="header-row">
      <ul class="header-nav">
        <li>
          <a href="#">
            <i class="fa fa-bars"></i>
            Dummy App
          </a>
        </li>
      </ul>
      <ul class="header-nav-right">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            John
          </a>
        </li>
        <li>
          |
        </li>
        <li>
          <a href="#">
            Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
