<section class="top-line">
  <div class="main-container">
    <div class="row-top">
      <div class="col1">
        <span class="icons">
          <i class="fa fa-puzzle-piece"></i>
        </span>
        <span class="icon-text">
          <em>Sector</em>
          Sports
        </span>
      </div>
      <div class="col1">
        <span class="icons">
          <i class="fa fa-futbol-o"></i>
        </span>
        <span class="icon-text">
          <em>Sport Type</em>
          Bycicles
        </span>
      </div>
      <div class="col1">
        <span class="icons">
          <i class="fa fa-bicycle"></i>
        </span>
        <span class="icon-text">
          <em>Mode</em>
          Mountain Cross
        </span>
      </div>
      <div class="col1 right-allign">
        <span class="icons">
        <i class="fa fa-recycle go-green"></i>
        </span>
        <span class="icon-text go-green">
          <em>Responsibility</em>
          Be Green!
        </span>
      </div>
    </div>
  </div>
</section>
