<section class="user-refistration">
  <div class="main-container">
    <div class="registration-row">
      <h1>User registration</h1>
      <div class="registration-col-left">
        <div class="registration-form">
          <div class="form-group">
            <label>
              Full name
            </label>
            <input type="text" class="full-input" name="full-name">
          </div>
          <div class="form-group">
            <label>
              E-mail
            </label>
            <input type="text" class="full-input" name="email">
          </div>
          <div class="form-group">
            <label>
              City
            </label>
            <small>optional</small>
            <input type="text" class="full-input" name="city">
          </div>
        </div>
      </div>
      <!--registration-col-left end -->
      <div class="registration-col-right">
        <div class="registration-col-right-row">
          <label class="left-space">
            Ride in group?
          </label>
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" id="inlineRadio1" name="ride-in-groups" value="Always" checked>
              <small></small> 
              <span>Always</span>
            </label>
            <label class="radio-inline">
              <input type="radio" id="inlineRadio2" name="ride-in-groups" value="Sometimes"> 
              <small></small> 
              <span>Sometimes</span>
            </label>
            <label class="radio-inline">
              <input type="radio" id="inlineRadio3" name="ride-in-groups" value="Never">
              <small></small>  
              <span>Never</span>
            </label>
          </div>
          <br>
          <label class="left-space">
          Days of the week
          </label>
          <div class="form-group">
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="1" checked>
              <small></small> 
              <span>Sun</span>
            </label>
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="2"> 
              <small></small> 
              <span>Mon</span>
            </label>
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="3">
              <small></small>  
              <span>Tue</span>
            </label>
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="4">
              <small></small>  
              <span>Wed</span>
            </label>
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="5">
              <small></small>  
              <span>Thu</span>
            </label>
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="6">
              <small></small>  
              <span>Fri</span>
            </label>
            <label class="inline-checkbox">
              <input type="checkbox" name="days-of-week" value="7">
              <small></small>  
              <span>Sat</span>
            </label>
          </div>
        </div>
        <br>
        <div id="error"></div>
        <div class="registration-right-row-bttm right-allign">
          <button type="button" id="cancel" class="cancel-btn">Cancel</button>
          <button type="button" id="submit" class="submit-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>